.nav-container{
 box-shadow: 1px 5px 5px 0px grey;
 width: 90vw;
}
.ul-container{
  list-style: none;
  display: flex;
  
}

.list{
  margin: 2%;
}




.orders-settings{
  display: flex;
  justify-content: space-between;
  width: 85vw;
}
.orders-heading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  margin: 10px;
  height: 40px;
  width: 80px;
  background-color: rgb(170, 233, 233);
}
.option{
  height: 30px;
  width: 100px;
  margin: 10px;
  text-align: center;

}
.bottom-border{
  height: 30px;
  width: 100px;
  margin: 10px;
  text-align: center;
  border-bottom: 2px solid rgb(46, 46, 243);
}

.options-ul{
  list-style: none;
  display: flex;
}

.no-data{
  font-size: 30px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 50px;
}

.select{
  border-width: 0px;
  border-style: none;
  border: none;
  outline: none;
}